<ion-content class="map-page">
  <div class="map-wrap">
    <capacitor-google-map #mapEl></capacitor-google-map>
  </div>

  <!-- Overlay-Button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button (click)="openSheet()">
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  
  <ion-modal
    [isOpen]="sheetOpen"
    (willDismiss)="onSheetDismiss()"
    [breakpoints]="[0, 0.35, 0.6, 0.9]"
    [initialBreakpoint]="0.35"
    handleBehavior="cycle" 
    class="my-sheet"
  >
    <ng-template>
      <!-- eigenes ion-content im Modal -->
      <ion-content class="ion-padding">
        <h3 class="ion-margin-bottom">Aktionen</h3>
        <ion-list inset="true">
          <ion-item button (click)="recenter(); sheetOpen=false">
            <ion-icon slot="start" name="locate"></ion-icon>
            <ion-label>Hierhin zentrieren</ion-label>
          </ion-item>
          <ion-item button (click)="favorite(); sheetOpen=false">
            <ion-icon slot="start" name="star"></ion-icon>
            <ion-label>Als Favorit</ion-label>
          </ion-item>
          <ion-item button (click)="share(); sheetOpen=false">
            <ion-icon slot="start" name="share-social"></ion-icon>
            <ion-label>Teilen</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
  <button class="debug-btn" (click)="openSheet()">⋮</button>
</ion-content>
