<ion-content class="map-page">
  <div class="map-wrap">
    <capacitor-google-map #mapEl></capacitor-google-map>
  </div>

  <ion-button expand="full">test</ion-button>
  <ion-button (click)="openSheet()">Open2</ion-button>

  <!-- Custom Sheet -->
  <div class="sheet" [class.open]="sheetOpen" (click)="sheetOpen=false">
    <div class="sheet-panel" (click)="$event.stopPropagation()">
      <div class="sheet-handle"></div>
      <h3 class="ion-margin-bottom">Aktionen</h3>
      <ion-list>
        <ion-item button (click)="leaveMessage(); sheetOpen=false">
          <ion-icon slot="start" name="locate"></ion-icon>
          <ion-label>Hier Nachricht hinterlassen</ion-label>
        </ion-item>
        <ion-item button (click)="recommend(); sheetOpen=false">
          <ion-icon slot="start" name="heart"></ion-icon>
          <ion-label>Diesen Ort empfehlen</ion-label>
        </ion-item>          
        <ion-item button (click)="share(); sheetOpen=false">
          <ion-icon slot="start" name="share-social"></ion-icon>
          <ion-label>Teilen ...</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>  

  <div class="sheet" [class.open]="messageBoxOpen" (click)="messageBoxOpen=false">
    <div class="sheet-panel" (click)="$event.stopPropagation()">
      <div class="sheet-handle"></div>
      <h3 class="ion-margin-bottom">Nachricht hinterlassen</h3>
      <ion-list inset="true">
        <ion-item>
          <ion-textarea [(ngModel)]="textMessage" autoGrow="true"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-button type="button" expand="full" (click)="onSubmitMessage()">Nachricht senden</ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <ion-button (click)="sheetOpen=true" style="position: absolute; bottom: 0;">Open1</ion-button>
</ion-content>
